.clock-container {
    background-color: $primary_bg;
    padding-right: 8px;

    .clock-date {
        font-size: 1.0rem;
        color: $primary_fg;
    }

    .clock-time {
        font-size: 1.0rem;
    }
}
