.title-container {
    .title-box {
        min-width: 10rem;
        background-color: $primary_bg;

        padding-left: 8px;

        .title-class {
            font-size: 1.0rem;
            color: $primary_fg;
        }

        .title-title {
            font-size: 1.0rem;
        }
    }
}
